# Answer 1).

In [7]:
list_of_tuples = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_list = sorted(list_of_tuples, key=lambda x: x[1])

print("Sorted List: ", sorted_list)

Sorted List:  [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Answer 2).

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Answer 3).

In [31]:
list_of_integer_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = tuple(map(lambda x: str(x),list_of_integer_numbers ))

print(" Squares of all the numbers is :", result)

 Squares of all the numbers is : ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Answer 4).

In [16]:
l1 = []
for i in range(1,26):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [22]:
from functools import reduce

In [28]:
product = reduce(lambda x, product: product*i,l1)

print("The product of a list containing numbers form 1 to 25 is : ", product)

The product of a list containing numbers form 1 to 25 is :  625

# Answer 5).

In [24]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [26]:
result = list(filter(lambda x: x%2==0 and x%3==0 ,numbers))

print("The numbers in a given list that are divisible by 2 and 3 is :", result)

The numbers in a given list that are divisible by 2 and 3 is : [6, 60, 90, 120]

# Answer 6).

In [30]:
list_of_strings = ['python', 'php', 'aba', 'radar', 'level']

result = list(filter(lambda x: x == x[::-1], list_of_strings))

print("Palindromes:", result)

Palindromes: ['php', 'aba', 'radar', 'level']