# Question 1

What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# Answer

A database is an organized collection of data that can be accessed, managed, and updated. It is designed to facilitate the storage, retrieval, modification, and deletion of data in a structured way. Databases can be used for a variety of purposes, including managing business operations, storing customer data, and facilitating research.

SQL and NoSQL are two types of databases that differ in their data model, structure, and approach to data storage and retrieval.

* SQL databases (also called Relational Databases) use a structured query language (SQL) to manage data. They organize data into tables with defined columns and rows, and use predefined relationships to link data between tables. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

* NoSQL databases, on the other hand, use a variety of data models for storing and retrieving data, such as document-oriented, key-value, graph, and column-family models. These databases are often used for storing unstructured or semi-structured data, such as social media data or sensor data. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

Some of the key differences between SQL and NoSQL databases are:

1. Data structure: SQL databases use a table structure with defined columns and rows, while NoSQL databases use different data models, such as document-oriented or key-value models.

2. Query language: SQL databases use the structured query language (SQL) to manage and retrieve data, while NoSQL databases may use different query languages or APIs depending on the data model used.

3. Scalability: NoSQL databases are often designed to be more scalable and flexible than SQL databases, making them suitable for large-scale distributed systems.

4. Consistency: SQL databases typically enforce strong consistency guarantees, while NoSQL databases may provide weaker consistency guarantees in order to achieve better scalability and availability.

Overall, the choice between SQL and NoSQL databases depends on the specific use case, the type of data being stored, and the scalability and consistency requirements of the system.

# Question 2

What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
# Answer

DDL stands for Data Definition Language, and it is a set of SQL commands that are used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL commands are used to define the structure of a database, specify constraints, and modify the schema of the database.

Here are some common DDL commands and their usage:
    
1. CREATE: The CREATE command is used to create new database objects, such as tables, indexes, views, or stored procedures. For example, the following SQL statement creates a new table named "Customer" with columns for "id", "name", "email", and "phone":

In [ ]:
CREATE TABLE if not exists Customer.test_table(id  INT, name VARCHAR(50),email VARCHAR(20), phone INT)

2. DROP: The DROP command is used to delete database objects, such as tables, views, or indexes. For example, the following SQL statement drops the "Customer" table:

In [ ]:
DROP TABLE Customer.test_table;

3. ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table or a view. For example, the following SQL statement adds a new column named "address" to the "Customer" table:

ALTER TABLE Customer.test_table
ADD address VARCHAR(100);

4. TRUNCATE: The TRUNCATE command is used to delete all the data from a table, but keep the table structure intact. This is useful when you want to remove all the data from a table without deleting the table itself. For example, the following SQL statement truncates the "Customer" table:

In [ ]:
TRUNCATE TABLE Customer.test_table;

# Question 3

What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [4]:
# Answer

DML stands for Data Manipulation Language, and it is a set of SQL commands that are used to insert, update, and delete data in a database. DML commands are used to manipulate the contents of a database and are used more frequently than DDL commands.

Here are some common DML commands and their usage:

1. INSERT: The INSERT command is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "Customer" table with values for the "id", "name", "email", and "phone" columns:

In [ ]:
INSERT INTO Customer.test_table VALUES(1, 'aditya', 'aditya189@gmail.com', '73683152', 'hansupur')

2. UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following SQL statement updates the phone number for the customer with an id of 1:

In [ ]:
UPDATE Customer.test_table
SET phone = '555-5678'
WHERE id = 1;

3. DELETE: The DELETE command is used to delete data from a table. For example, the following SQL statement deletes the customer with an id of 1:

In [ ]:
DELETE FROM Customer.test_table
WHERE id = 1;

# Question 4

What is DQL? Explain SELECT with an example.

In [5]:
# Answer

DQL stands for Data Query Language, and it is a set of SQL commands that are used to retrieve data from a database. DQL commands are used to select data from one or more tables in a database.

The most common DQL command is SELECT, which is used to retrieve data from one or more tables. The SELECT command is used to specify the columns to be retrieved, the table or tables to retrieve data from, and any conditions to filter the data.

Here's an example of the SELECT command:

In [ ]:
SELECT * from `Customer`.test_table;

# Question 5

Explain Primary Key and Foreign Key.

In [6]:
# Answer

* A primary key is a column or a set of columns that uniquely identifies each row in a table. A primary key is used to enforce data integrity and ensure that each row in a table is unique.

* A foreign key is a column or a set of columns in one table that refers to the primary key of another table. A foreign key is used to establish a relationship between two tables, allowing data to be retrieved from multiple tables using a single query. The table that contains the foreign key is called the referencing table, and the table that contains the primary key that it references is called the referenced table.

# Question 6

Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [7]:
# Answer

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

* cursor(): The cursor() method of the database connection object is used to create a cursor object that can be used to execute SQL queries.

* execute() :The execute() method of the cursor object is used to execute a SQL query on the database. It takes a SQL query as a parameter and returns nothing.

# Question 7

Give the order of execution of SQL clauses in an SQL query

In [13]:
# Answer

1. FROM clause: This clause identifies the tables or views from which the data is being retrieved.

2. JOIN clause: This clause joins multiple tables based on the specified join condition.

3. WHERE clause: This clause filters the rows that satisfy the specified conditions.

4. GROUP BY clause: This clause groups the rows based on the specified columns.

5. HAVING clause: This clause filters the groups that satisfy the specified conditions.

6. SELECT clause: This clause selects the columns that are to be included in the result set.

7. DISTINCT clause: This clause eliminates duplicate rows from the result set.

8. ORDER BY clause: This clause sorts the rows in the result set based on the specified column(s).

9. LIMIT/OFFSET clause: This clause limits the number of rows returned in the result set.